/* Align ion to left */
#what .items .items {
        display: flex;
        text-align: left;
}
/* Position icon */
#what .items .items i{
    margin-right: 1.3rem;
    align-self: center;
    margin-bottom: 0;
}

#contact .map{
    flex: 2;
}